@import "../styles/variables.scss";

/* forms
==============================*/
.form-control {
  height: 5rem;
  border: 2px solid transparent;
  border-radius: 1rem;
  box-shadow: 0 4px 10px -2px rgba(126, 173, 225, .5);
  font-size: 1.6rem;
  transition: all .3s ease-in-out;
  padding-left: 15px;

  &:focus {
    outline: none;
    box-shadow: 0 4px 10px -2px rgba(126, 173, 225, .5);
  }

  &::-webkit-input-placeholder {
    color: #7e7e7e;
    text-transform: capitalize;
    font-size: 1.4rem;
  }

  &.remove-default::-webkit-inner-spin-button,
  &.remove-default::-webkit-outer-spin-button,
  &.remove-default,
  &[type=date]::-webkit-inner-spin-button,
  &[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
  }

  &.remove-default::-webkit-inner-spin-button,
  &.remove-default::-webkit-outer-spin-button,
  &.remove-default,
  &[type=date] {
    -moz-appearance: textfield;
  }

}

textarea {
  height: auto;
  resize: none;
  width: 100%;
  border: 2px solid transparent;
  border-radius: 1rem;
  box-shadow: 0 4px 10px -2px rgba(126, 173, 225, .5);
  font-size: 1.6rem;
  transition: all .3s ease-in-out;
  padding: 15px;

  &:focus {
    outline: none;
    box-shadow: 0 4px 10px -2px rgba(126, 173, 225, .5);
  }
}

/*check-radio-item*/
.zvendo-check-item {
  margin-bottom: 1.5rem;
  text-align: start;

  &:last-of-type label {
    margin-left: 0;
  }

  input[type="radio"],
  input[type="checkbox"] {
    display: none;
  }

  input[type="radio"]+label,
  input[type="checkbox"]+label {
    position: relative;
    display: block;
    margin-bottom: 0;
    font-size: 1.42rem;
    text-transform: capitalize;
    color: #333232;
    cursor: pointer;
    padding-inline-start: 4rem;
  }

  input[type="radio"]+label::before,
  input[type="checkbox"]+label::before {
    position: absolute;
    content: "";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    top: .5rem;
    left: 0;
    background-color: transparent;
    border: 2px solid $main-color;
    border-radius: .9rem;

    [dir="rtl"] & {
      left: auto;
      right: 0;
    }
  }

  input[type="radio"]:checked+label,
  input[type="checkbox"]:checked+label {
    color: $main-color;
  }

  input[type="radio"]:checked+label::before,
  input[type="checkbox"]:checked+label::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    background-color: transparent;
    color: $main-color;
  }
}